body{
    display: grid;
     height: 140vh;
     width: 100vw;

    grid-template-areas:
    'part4 part4 part4 .     part3 part2 part2 part1 part1 part1'
    'part4 part4 part4 part5 part5 part2 part2 part1 part1 part1'
    'part4 part4 part4 part5 part5 part6 .     part1 part1 part1'
    'part7 part7 part7 part7 part7 part8 part8 part8 part8 part8'
    'part7 part7 part7 part7 part7 part8 part8 part8 part8 part8'
    'part7 part7 part7 part7 part7 part8 part8 part8 part8 part8'
    'part7 part7 part7 part7 part7 part8 part8 part8 part8 part8';
    
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-template-columns:10vw,10vw ,10vw,10vw,10vw,10vw,10vw,10vw,10vw,10vw;
    
    border:3px dashed red;
}   
div{
    border:3px dashed red;
}

div.part1{
    grid-area: part1;
}
div.part2{
    grid-area: part2;
}
div.part3{
    grid-area: part3;
}
div.part4{
    grid-area: part4;
}
div.part5{
    grid-area: part5;
}
div.part6{
    grid-area: part6;
}
div.part7{
    grid-area: part7;
}
div.part8{
    grid-area: part8;
}