body{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin:0;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 2px lightblue dashed;
}

.login-form{
    display: inline-block;
    text-align: center;
}